html,body{
	margin:0;
	background-color: whitesmoke;
}
main{
	width: 650px;
	height: 509px;
	background-color: #bbada0;
	position: relative;
	left: 25em;
	top: 14em;
	border-radius: 5px;
}
.tile{
	background-color:rgba(238, 228, 218, 0.35);
	display:inline-block;
	width: 139px;
	height: 105px;
	margin: 1em 0 0 1em;
	border-radius: 3px;
	position: relative;
	text-align: center;
    color: #766e64;
}
.tile a{
	font-weight: bold;
	font-size: 65px;
	font-family: 'Source Sans Pro', sans-serif;
	user-select: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	border-radius: 4.5px;
}
#score-wrapper{
	width:100%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	top: 0;
	margin-top: 4em;
}
#score:before{
	content:"Score : ";
}
#score{
	font-size: 3em;
	display: inline-block;
}
#high-score:before{
	content:"Highscore : ";
}
#high-score{
	display: inline-block;
	font-size: 3em;
}
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
} 
}
#end-text{
	display: none;
	opacity: 0;
	visibility: hidden;
	width:100%;
	height:100%;
	background-color: #808080ad;
	position: absolute;
	top: 0;
	text-align: center;
	transition: all 2s linear;
}
#play-again{
	border: none;
	font-size: 4em;
	padding: 0.5em;
	border-radius: 17px;
	background-color: beige;
	color: grey;
	position: relative;
	top: 4em;
	cursor:pointer;
}
#result-text{
	color: white;
	font-size: 4em;
	position: ABSOLUTE;
	left: 32%;
	top: 15%;
	font-weight: bold;
}